

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') url('/Fonts/Roboto-VariableFont_wdth,wght.ttf');
}

:root {
    --ui-bg: #191a2e;
    --ui-border: #04bef2;
    --ui-shadow: #8671dd;
    --ui-text: #cecaca;

    --mode1-bg: #121224;
    --mode1-shadow: #E0476B;

    --mode2-bg: #0f1325;
    --mode2-shadow: #5c7cff;
}

/* ========================================================================== */
/*  INTERFACE                                                                 */
/* ========================================================================== */

/* ========================================================================== */
/*  GAME 1                                                                    */
/* ========================================================================== */

/* ========================================================================== */
/*  GAME 2                                                                    */
/* ========================================================================== */

/* ========================================================================== */
/*  MOBILE                                                                    */
/* ========================================================================== */


@media (max-width: 425px) {
}